#main {
    height: 500px;
    width: 500px;
    background-color: rgb(209, 45, 121);
    border-radius: 5px;
    -webkit-user-select: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 128px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.speed-bar-container {
    margin: 20px;
    width: 495px;
    height: 20px;
    border: 5px solid black;
    border-radius: 5px;
}

.speed-bar {
    height: 100%;
    width: 0%;
    background-color: greenyellow;
    animation: animate-width 10s linear infinite;
}

@keyframes animate-width {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}